#Configuration file for Selenium Automation Run. 
#Requested features : -n sec1,sec2,sec3... , r instead of f, overriding set user and password via cmd line arguments. -a username -p password.

[QA173]
HOST_NAME=qa173
HOST_OS=CentOS
IPAddr=10.71.173.54
TesterName=schaluva
TestPlanID=111929
BuildName=Build_Test
PlatformID=116
TestNotes=Tested on QA173


[Login_and_Login_Roles]
EXEC_LOG_DIR=C:/PyPy/RunSeleAuto/VMOPS
EXEC_ORDER=eE-812,eE-815,eE-816,eE-817,eE-818
eE-812=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.AddUserTest -R Role::admin+Uname::ad -M
eE-815=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.AddUserTest -R Role::pm+Uname::pm -M 
eE-816=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.AddUserTest -R Role::ro+Uname::ro -M
eE-817=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.DeleteUserTest -R Uname::pm -M
eE-818=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.DeleteUserTest -R Uname::pm -M
eE-819=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.EditUserTest -R Role::ro+Uname::{one admin user's name} -M ; Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.EditUserTest -R Role::pm+Uname::{one admin user's name} -M
eE-820=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.EditUserTest -R Role::ro+Uname::{one pm user's name} -M ; Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.EditUserTest -R Role::admin+Uname::{one pm user's name} -M
eE-821=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.EditUserTest -R Role::pm+Uname::{one read-only user's name} -M; Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.EditUserTest -R Role::admin+Uname::{one read-only user's name} -M
eE-822=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.EnableDomain -M
eE-823=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54 -t qa.unity.tests.LoginRoles.EnableInvalidDomain -M



[VM-OPS]
EXEC_LOG_DIR=C:/PyPy/RunSeleAuto/VMOPS
EXEC_ORDER=eE-1915,eE-1914
eE-1915=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54  -t qa.unity.tests.VmSupport.StartVmTest -C OSType::CENTOS750+protection::FT
#ev2222=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54  -t qa.unity.tests.VmSupport.MigrateVmTest -C OSType::CENTOS73+protection::FT
eE-1914=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54  -t qa.unity.tests.VmSupport.StopVmTest -C OSType::CENTOS750+protection::FT
#ev4444=Java -jar QaUi-Paul-Ee-7.6.jar -u http://10.71.173.54  -t qa.unity.tests.VmSupport.DeleteVmTest -C OSType::CENTOS73+protection::FT

#=================================================================================================
[Galaxy]
#Keys naming mandate: SecA1 to SecA9, SecB1 to SecB9, SecC1 to SecC9....
EXEC_ORDER=SecA2,SecA1
SecA1=VM-OPS
SecA2=Login_and_Login_Roles
#SecA3=